h1{
    color: darkred;
    text-shadow: 1px 1px 3px orange;
}
h3{
    color: blue;
}

li{
    color: green;
}

table,td, tr{
    border:1px solid black;
    border-collapse: collapse;
    padding: 10px;
}


#중간지정 {
    margin: 0 auto;
    width: 700px;

}